<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<diagnostics performanceCounters="All" />
		<services>
		<service name="WCFService.ZAQ" behaviorConfiguration="mexBehavior">
			<endpoint address="ZAQ" binding="basicHttpBinding" contract="WCFService.IZAQ" behaviorConfiguration="webBehavior"></endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8333/"/>
				</baseAddresses>			
			</host>
		</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>